/*------------------------------------*\
    $MEDIA
\*------------------------------------*/

.crip-image{
  border-radius: 300px;
  max-width: 250px;
  float: right;
  margin: 0 0 20px 20px;

  @media (max-width: 800px) {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}


.post-image{
  display: block;
  max-width: 100%;
  height: auto;
}

.post-image--left{
  margin: 0 20px 20px 0;
  float: left;
}

.post-image--right{
  margin: 0 0 20px 20px;
  float: right;
}


/**
 * Mejs
 */

.mejs-container .mejs-controls {
  background:none !important;
  background-color: $base-ui-color !important;
}
