/*------------------------------------*\
    $UTILS
\*------------------------------------*/

// Colors
$brand-color: #4A85D3!default;
$brand-base-color: #B3BECD!default;
$base-ui-color: #1D2327!default;

// Widths
$container-width: 800px!default;

// Fonts
$base-font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
$content-font-family: "adelle", $base-font-family;
