---
layout: default
---

<div class="home">

  {% for post in paginator.posts %}
    {% if post.category == 'podcast' %}
      
      <article class="podcasts clearfix">
        <div class="podcast__item podcast-image">
          {% if post.coverimage %}
            <img src="{{ post.coverimage }}" alt="Podcast Cover Image">
          {% else %}
            <img src="{{ "/images/podcastimage.png" | prepend: site.baseurl }}" alt="Podcast Cover Image">
          {% endif %}
        </div>

        <div class="podcast__item podcast-content">
          <a href="{{ post.url | prepend: site.baseurl }}" class="play-btn">Play now</a>
          <div class="podcast-content__inner">
            {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
            <small class="podcast-name">Crip Podcast <span class="sep">•</span> {{ post.date | date: "%b %-d, %Y" }}</small>

            <h2 class="podcast-title"><a class="podcast-link" href="{{ post.url | prepend: site.baseurl }}"><span class="podcast-index">{{ post_count }}</span> {{ post.title }}</a></h2>

            <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
          </div>
        </div>
      </article>

    {% else %}

      <article class="posts">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} <span class="sep">•</span> {{ post.author }}{% endif %}{% if post.meta %} <span class="sep">•</span> {{ post.meta }}{% endif %}{% if post.category == 'podcast' %}{% else %} <span class="sep">•</span> {{ post.content | reading_time }} read.{% endif %}</span>

        <h2 class="post-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.category == 'podcast' %}Crip Podcast: {% endif %}{{ post.title }}</a></h2>

        {{ post.content }}
      </article>

    {% endif %}
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination clearfix">
    <div class="pagination__item">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination__btn previous"><span>&larr;</span> Previous</a>
      {% else %}
        &nbsp;
      {% endif %}
    </div>
    <div class="pagination__item">
      <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </div>
    <div class="pagination__item">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination__btn next">Next <span>&rarr;</span></a>
      {% else %}
        &nbsp;
      {% endif %}
    </div>
  </div>

</div>
