<head>
  <meta property="og:image" content="{% if page.fbimage %}{{ page.fbimage }}{% else %}http://crip.io/images/fbimage.png{% endif %}"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <meta property="og:site_name" content="Crip.io"/>
  <meta property="og:description" content="{% if page.date %}{{ page.content | strip_html | truncatewords: 50 }}{% else %}Two cripreneurs making the world a little bit better with web accessibility, testing and front-end development{% endif %}"/>
  <meta property="og:type" content="website" />

  <meta name="description" content="Crip.io">
  <meta name="keywords" content="Crip, Crip as a Service, Leadership, Testing, Development, Viktor Johansson, Johnie Hjelm">
  <meta name="author" content="Crip.io">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon.png">

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>
  <script src="//use.typekit.net/oni3vzi.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ "/assets/mejs/mediaelementplayer.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/style/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/style/monokai.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta charset="utf-8">
</head>


