<a href="#content" class="skip-to-content" aria-role="Skip to content" tabindex="0">Skip to content</a>
<header class="header" role="banner">
  <div class="header__inner">
    <h1 class="site-title">
      <a href="/">{{ site.title }}</a>
    </h1>
    

    <a href="#" class="menu-icon">Menu button</a>
    <nav role="navigation" id="main-menu">
      <ul class="nav nav--banner">
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/johnie">Johnie</a></li>
        <li><a href="/viktor">Viktor</a></li>
        <li><a href="/connect">Connect</a></li>
      </ul>
    </nav>
  </div>
</header>
