---
# Main CSS file
---

/**
 * Crip.io
 */
@import "normalize", "utils", "widths", "grids", "content", "media";


/*------------------------------------*\
    $BASE
\*------------------------------------*/
body{
  font-family: $base-font-family;
  color: $base-ui-color;
  background-color: #F6F8FB;
}

.container{
  max-width: $container-width;
  margin: 0 auto;

  &:after{
    content: ' ';
    display: table;
    clear: both;
  }
}

.sep{
  display: inline-block;
  margin: 0 .3em;
}

.clearfix{
  &:after{
    content: ' ';
    display: table;
    clear: both;
  }
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.skip-to-content{
  display: none;
}

.header{
  position: relative;
  width: 100%;
  display: block;
  min-height: 60px;
  background-color: $brand-base-color;
  margin-bottom: 100px;

  &__inner{
    max-width: $container-width;
    margin: 0 auto;
    position: relative;
    padding: 0px 10px;
    height: 60px;

    &:after{
      content: ' ';
      display: table;
      clear: both;
    }
  }

  &:after{
    content: ' ';
    display: table;
    clear: both;
  }

  @media (max-width: 800px) {
    margin-bottom: 20px;
  }
}

.site-title{
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;

  a{
    text-decoration: none;
    display: block;
    background: transparent url('/images/logo.svg') center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    font-size: 10px;
    width: 10.8em;
    padding-bottom: 11.6em;
    text-indent: -99999px;
    position: absolute;
    top: -5px;
    left: 0;

    @media (max-width: 800px) {
      width: 3em;
      padding-bottom: 2.25em;
      top: 50%;
      left: 15px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

nav[role="navigation"]{
  display: block;
  float: right;
  text-align: right;
  padding-top: 13px;

  @media (max-width: 800px) {
    display: none;

    &.open-menu{
      display: block;
      position: absolute !important;
      float: none;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $brand-base-color;
      line-height: 1;
      z-index: 100;

      li{
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        padding-left: 0;
        width: 100%;
        line-height: 1;
        margin: 0;

        &:not(:last-child) {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}

.nav{
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: 1.3em;
}

.nav--banner{
  li{
    display: inline-block;
    padding: 0em;
    padding-left: 2em;
  }
  a{
    text-decoration: none;
    color: $base-ui-color;
    transition: color .25s ease;

    &:hover,
    &:focus{
      outline: none;
      color: #fff;
    }
  }

}

.menu-icon{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 2.6em;
  height: .4em;
  font-size: 10px;
  background-color: $base-ui-color;
  line-height: 1;
  text-indent: -9999px;
  -webkit-transition: background-color .25s ease;
  -moz-transition: background-color .25s ease;
  transition: background-color .25s ease;

  display: none;

  span{
    display: block;
    position: absolute;
    background-color: transparent;
    width: 120%;
    height: 700%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
  }

  &:before,
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: $base-ui-color;
    position: absolute;
    left: 0;
    -webkit-transition: transform .25s ease;
    -moz-transition: transform .25s ease;
    transition: transform .25s ease;
  }

  &:before{
    bottom: 200%;
  }

  &:after{
    top: 200%;
  }

  &.open{
    background-color: transparent;

    &:before{
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      bottom: 0%;
    }

    &:after{
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0%;
    }
  }

  @media (max-width: 800px) {
    display: block;
  }
}


/*------------------------------------*\
    $PAGE AND POSTS
\*------------------------------------*/
.page-content{
  display: block;
  margin: 0 auto;
  max-width: $container-width;
  padding: 0px 10px 2em;
}

.posts:not(:last-child){
  padding-bottom: 2em;
  margin-bottom: 2.5em;
  border-bottom: 1px solid $brand-base-color;
  display: block;
}

.post-meta{
  color: $brand-base-color;
  margin-bottom: 5px;
  display: block;
}

.post-title{
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 1em;

  @media (max-width: 680px) {
    font-size: 2em;
  }
}

.post-link{
  color: $base-ui-color;

  &:hover,
  &:focus{
    color: $brand-color;
  }
}

.sharing{
  padding-top: 20px;
}



/*------------------------------------*\
    $PODCAST
\*------------------------------------*/
.podcasts{
  display: block;
  position: relative;
  margin-bottom: 2.5em;
  width: 100%;
  background-color: $base-ui-color;
  overflow: hidden;
}

.podcast__item{
  display: block;
  float: left;
}

.podcast-image{
  width: 30%;

  img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  @media (max-width: 700px) {
    width: 40%;
  }

  @media (max-width: 600px) {
    width: 100%;
    float: none;

    img{
      width: 100%;  
    }
  }
}

.podcast-content{
  color: #fff;
  width: 70%;
  position: relative;

  p{
    font-family: $base-font-family;
    margin: 0;
    display: block;
    font-size: 1em;
    color: #F6F8FB;
  }

  @media (max-width: 700px) {
    width: 60%;
  }

  @media (max-width: 600px) {
    width: 100%;
    float: none;
  }
}

.podcast-content__inner{
  padding: 1em;
}

.podcast-name{
  text-transform: uppercase;
  color: $brand-color;
  display: block;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: bold;
}

.podcast-title{
  margin: 0;
  color: #fff;
  font-weight: normal;
  margin-bottom: .4em;
}

.podcast-link{
  color: #fff;
}

.podcast-index{
  &:before{
    content: '#';
  }
  &:after{
    content: ':';
  }
  letter-spacing: -3px;
  margin-right: 4px;
}

.play-btn{
  font-size: 10px;
  border: 3px solid #fff;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 1em;
  right: 1em;
  text-indent: -9999px;
  border-radius: 50%;
  opacity: .5;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  transition: opacity .25s ease;

  &:after{
    display: block;
    content: '';
    width: 0;
    height: 0;
    top: 50%;
    right: 2px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    border: 8px solid transparent;
    border-left-color: #fff;
  }

  &:hover{
    opacity: 1;
  }
}

.podcast-sub{
  display: inline-block;
  padding: 0 1.5em;
  color: #fff;
  text-decoration: none;
  background-color: $base-ui-color;
  margin-top: 12px;
  font-size: 14px;
  line-height: 2.5;
  margin-right: 10px;
  -webkit-transition: background-color .25s ease;
  -moz-transition: background-color .25s ease;
  transition: background-color .25s ease;

  &:hover{
    background-color: $brand-color;
    color: #fff;
  }
}


/*------------------------------------*\
    $FOOTEr
\*------------------------------------*/
.footer{
  background-color: $base-ui-color;
  color: #fff;
  padding: 30px 10px 15px;

  &:after{
    content: ' ';
    display: table;
    clear: both;
  }
}

.cripspiration{
  display: block;
  margin-bottom: 60px;
  text-align: center;
}

.cripspiration__title{
  font-weight: normal;
  font-size: 1.5em;
}

.messages{
  max-width: 350px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 20px;

  .success{
    background-color: #40AB7D;
    padding: 5px;
    display: block;
    border-radius: 4px;
  }

  .error{
    background-color: #D4233E;
    padding: 5px;
    display: block;
    border-radius: 4px;
  }
}

.hidden-from-view{
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.cripspiration__form{
  display: inline-block;
  max-width: 250px;
}

.cripspiration__input{
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  width: 230px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.15);

  &:hover,
  &:focus{
    outline: none;
    box-shadow: 0 0 0 2px $brand-color inset;
  }
}

.cripspiration__button{
  color: #fff;
  background-color: $brand-color;
  text-align: center;
  padding: 8px 10px;
  width: 250px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 1px;

  &:hover,
  &:focus{
    outline: none;
    background-color: lighten($brand-color, 5%);
  }

  &:active{
    outline: none;
  }
}

.copyright{
  font-weight: 300;
  font-size: 14px;
  color: #BCBCBC;
  display: block;
  line-height: 26px;
  float: left;
}

.social{
  float: right;

  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li{
    display: inline-block;
    padding-left: 1em;
  }

  svg{
    fill: #BCBCBC;
    transition: all .25s ease;
  }

  a{
    display: block;

    &:hover{
      svg{
        fill: white;
      }
    }
  }
}


/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/
.pagination{
  padding: 1em 0;
}

.pagination__item{
  width: 33.333333%;
  float: left;
  text-align: center;

  &:first-child{
    text-align: left;
  }

  &:last-child{
    text-align: right;
  }
}

.page_number{
  display: block;
  line-height: 2.3;
  color: #999;

  @media (max-width: 640px) {
    line-height: 2;
  }
}

.pagination__btn{
  display: inline-block;
  background-color: $base-ui-color;
  color: #fff;
  font-weight: 600;
  padding: 0 1em;
  line-height: 2.5;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;

  &:hover{
    background-color: $brand-color;
    color: #fff;
  }

  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.previous span{
  margin-right: .5em;
}

.next span{
  margin-left: .5em;
}
